.menu-toolbar {
    background: gold;
}

.mobile-menu {
    display: none;
}

.menu-buttons:hover {
    color: green;
}

.menu-buttons {
    color: darkgreen;
    margin: 0% 0.25% 0% 0.25%;
}

@media only screen and (max-width: 768px) {
    .mobile-menu {
        display: block;
        color: darkgreen;
    }

    .menu-buttons {
        display: none;
    }
}
