<div class="container-fluid">
  <div style="text-align: center; border: 1px darkgreen; padding: 20px 10px;">
    <h1><u>What is this for?</u></h1>
    <p class="lead">
      This is a web application for GMU students to connect with peer mentors more effectively.
    </p>
    <div class="separator-bar"></div>
    <br/>

    <p class="lead"></p>

  </div>
</div>

<footer class="footer">
  <div class="container">
    <span class="text-muted">Find us on GitHub <a href="https://github.com/SaxyPandaBear/gmu_tutors_web_app"><img
      src="../../assets/GitHub-Mark-32px.png"></a></span>
  </div>
</footer>
