<md-card class="homepage-card">
    <md-card-header>GMU Tutors Web Application (name pending)</md-card-header>
    <md-card-content>
        <h3>What is this for?</h3>
        <ul>
            <li>The idea of this application is to connect GMU students to reliable peer mentors and tutors.</li>
            <li>It was originally an idea for an Amazon Alexa skill.</li>
        </ul>
        <h3>How do I use it?</h3>
        <ul>
            <li>Just click on "Find Tutors" to browse through available tutors.</li>
            <li>You can click on "Campus Map" to see which tutors are currently on campus!</li>
        </ul>
        <h3>How can I help?</h3>
        <ul>
            <li>As a student, you can help by rating the tutors that you signed up for.</li>
            <li>You can also sign up to be a tutor yourself!</li>
        </ul>
    </md-card-content>
    <div class="empty-space"></div>
    <md-card-footer>
        <span>Look at the source code on GitHub!</span>
        <a href="https://github.com/SaxyPandaBear/gmu_tutors_web_app">
            <img src="../../../assets/logos/GitHub-Mark-32px.png">
        </a>
    </md-card-footer>
</md-card>