<div class="container-fluid">

  <div class="landing-page-abstract">
    <h1><u>GMU Tutors</u></h1>
    <p class="lead">
      This is a site for GMU students and peer mentors can connect with each other faster, and easier,
      than ever before.
    </p>
  </div>
  <div class="separator-bar"></div>
  <br/>

  <!-- todo: add a statistical graphic of some sort -->

</div><!-- /.container -->
<footer class="footer">
  <div class="container">
    <span class="text-muted">Find us on GitHub <a href="https://github.com/SaxyPandaBear/gmu_tutors_web_app"><img
      src="../../assets/GitHub-Mark-32px.png"></a></span>
  </div>
</footer>
