<div class="container-fluid">

  <div class="landing-page-abstract">
    <h1><u>GMU Tutors</u></h1>
    <p class="lead">
      This is a site for GMU students and peer mentors can connect with each other faster, and easier,
      than ever before.
    </p>
  </div>
  <div class="separator-bar"></div>
  <br/>

  <div class="landing-page-detail">
    <h2><u>What does it do?</u></h2>
    <p class="lead">As a student: You can search for tutors for different subjects and see their
      availability/price/location.</p>
    <p class="lead">As a tutor: You can market yourself on the website to expand your reach to more students than
      posting fliers on campus.</p>
  </div>
  <br/>

  <div class="landing-page-detail">
    <h2><u>Why should I use it?</u></h2>
    <p class="lead">You'll be connected with all of the other students that use the site. This will only work as a <b>community
      effort</b>.</p>

    <!-- todo: add a statistical graphic of some sort -->
  </div>

</div><!-- /.container -->
<footer class="footer">
  <div class="container"><!-- todo: add actual link -->
    <span class="text-muted">Find us on GitHub <a href="https://www.github.com"><img
      src="../../assets/GitHub-Mark-32px.png"></a></span>
  </div>
</footer>
