<div class="container-fluid">
  <div style="text-align: center; border: 1px darkgreen; padding: 20px 10px;">
    <h1><u>What is this for?</u></h1>
    <p class="lead">
      This is a web application for GMU students to connect with peer mentors more effectively.
    </p>
    <div class="separator-bar"></div>
    <br/>

    <p class="lead">You can read more about the inspiration and motivation of the project our
      <a href="https://github.com/SaxyPandaBear/gmu_tutors_web_app">GitHub</a> page.</p>

  </div>

  <div class="landing-page-detail">
    <h2><u>What does it do?</u></h2>
    <p class="lead">As a student: You can search for tutors for different subjects and see their
      availability/price/location.</p>
    <p class="lead">As a tutor: You can market yourself on the website to expand your reach to more students than
      posting fliers on campus.</p>
  </div>
  <br/>

  <div class="landing-page-detail">
    <h2><u>Why should I use it?</u></h2>
    <p class="lead">You'll be connected with all of the other students that use the site. This will only work as a <b>community
      effort</b>.</p>
  </div>
</div>

<footer class="footer">
  <div class="container" style="position: absolute !important;">
    <span class="text-muted">Find us on GitHub <a href="https://github.com/SaxyPandaBear/gmu_tutors_web_app"><img
      src="../../assets/GitHub-Mark-32px.png"></a></span>
  </div>
</footer>
